body{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px 250px;
}
.avatar{
    width: 300px ;
    margin: 10px;
    border-radius:20px; 
}

.Card{
    background: darkorange;
    padding: 10px 50px 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px;
}


button{
    border-radius: 5px;
    border:none;
    padding: 5px 10px ; 
}

.nug-counter {
 text-align: center;
}



